@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.second_row{
    margin: 0 4em;
}
.giph{
    background-image: url('https://media2.giphy.com/media/3o85xtLX7zCyeeWGLC/giphy.gif?cid=ecf05e47r200u8orh7n5y3hulo0g1d8wa25ptz7p4dh0khhu&rid=giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.btn_plus{
    margin-left: 25px;
}
.todo{
    font-family: Roboto;
}
.todo{
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}